@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html
{
    font-size: 100%;
    box-sizing: border-box;
}

*
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1rem;
    color: #eee;
    background-color: #222; 
    /* background-color: #60b347; */
}


.container
{
    padding: 1rem;
    @media (min-width: 1025px)
    {
        max-width: 69.375rem;
        margin: 0 auto;
    }
}

//flex
.flex
{
    display: flex;
    
    align-items: center;
    &-jc-c
    {
        justify-content: center;
    }

    &-jc-sb
    {
        justify-content: space-between;
    }

    &-jc-sa
    {
        justify-content: space-around;
    }
}

.btn
{
    font-family: 'Press Start 2P', sans-serif;
    color: #222;
    @media (max-width: 1024px)
    {
        font-size: 0.75rem;
        padding: 0.9375rem 1.6875rem;
    }
    font-size: 1.375rem;
    padding: 1.25rem 2.1875rem;
    border: none;
    cursor: pointer;
}

h1
{
    line-height: 1;
    font-size: 2rem;
    
}

input[type='number']
{
    display: block;
    font-family: 'Press Start 2P', sans-serif;
    // font-size: 3rem;
    @media (max-width: 1024px)
    {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        padding: 0.9375rem;
        border: none;
        outline: none;
        
    }
    max-width: 15rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-bottom: 2rem;
    
}

p
{
    @media (max-width: 1024px)
    {
        font-size: 0.75rem;

    }
    font-size: 1.25rem;
    margin-bottom: 1rem;
}