.header
{
    position: relative;
    border-bottom: 10px solid #fff;
    margin-bottom: 5rem;
    &__top
    {
        margin-bottom: 3rem;
    }
    h1
    {
        text-align: center;
        margin-bottom: 7rem;
    }
    p 
    {
        @media (max-width: 1024px)
        {
            font-size: 0.625rem;
        } 
    }

    &__secretNumber
    {
        text-align: center;
        font-size: 3rem;
        color: #222;
        background-color: #fff;
        width: 10rem;
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);

    }
}